.App {
  font-family: sans-serif;
  text-align: center;
}
.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.btn:disabled:hover {
  background-color: #ccc;
}

.btn2 {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn2:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.btn2:disabled:hover {background-color: #f
  background-color: #ccc;
}

.btn3 {
  background-color: #386446;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.btn3:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.btn3:disabled:hover {
  background-color: #ccc;
}
.btn4{
  background-color: #aecde7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
